<ng-container>
    <section class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>Web Design</h2>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li>Service</li>
                    <li>Web Design</li>
                </ul>
            </div>
        </div>

        <div class="shape-img1"><img src="assets/img/shape/shape1.svg" alt="image"></div>
        <div class="shape-img2"><img src="assets/img/shape/shape2.png" alt="image"></div>
        <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    </section>

    <section class="services-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Website designing can make your heart go GaGa!</h1>
                    <div class="service-content">
                        <p>We professional web designers at AiInfox are passionate about creating designs that speak
                            your mind and make your thoughts turn into reality.
                            As a leading <a href="/elevate-your-brand-with-a-top-notch-web-design-company"><b>web design company</b></a>, we ensure that your vision is brought to life with creativity and precision.
                             </p>

                        <p>Every business is different and has different requirements. To leave an imprint on the
                            audience's minds and create brand awareness and identity, the role of the website speaks
                            volumes. We follow a thorough process where we analyse your products and services. At the
                            same time, we try to understand your thought process like how you want to make people see
                            your brand. With our expertise in UI UX designing, turning your thoughts into visual reality
                            becomes so easy.</p>


                        <div class="row ptb-50">
                            <div class="col-lg-6 col-md-12 webdesign-service">
                                <img src="assets/img/services/webdesign.jpg" alt="Web Design Services">
                            </div>
                            <div class="col-lg-6 col-md-12 content-left digitalblock">
                                <h3>AiInfox offers a complete UI/UX design services, which includes</h3>

                                <ul>
                                    <li>
                                        <span>
                                            <!-- <div class="icon">
                                                <img alt="Custom Website Design" src="assets/img/icon1.png">
                                            </div> -->
                                            <h4>Custom Website Design </h4>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <!-- <div class="icon">
                                                <img alt="Application Design" src="assets/img/icon1.png">
                                            </div> -->
                                            <h4> Application Design </h4>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <!-- <div class="icon">
                                                <img alt="Landing Page Designs" src="assets/img/icon1.png">
                                            </div> -->
                                            <h4> Landing Page Designs</h4>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <!-- <div class="icon">
                                                <img alt="Logo design" src="assets/img/icon1.png">
                                            </div> -->
                                            <h4> Logo design </h4>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <!-- <div class="icon">
                                                <img alt="Infographics design" src="assets/img/icon1.png">
                                            </div> -->
                                            <h4>Infographics design </h4>
                                        </span>
                                    </li>

                                    <li>
                                        <span>
                                            <!-- <div class="icon">
                                                <img alt="Corporate identity" src="assets/img/icon1.png">
                                            </div> -->
                                            <h4>Corporate identity </h4>
                                        </span>
                                    </li>

                                    <li>
                                        <span>
                                            <!-- <div class="icon">
                                                <img alt="Online Branding" src="assets/img/icon1.png">
                                            </div> -->
                                            <h4>Online Branding </h4>
                                        </span>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>
</ng-container>
<app-project-start [section]="'DesignValues'"></app-project-start>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div _ngcontent-ng-c1167776693="" class="section-title">
                    <span _ngcontent-ng-c1167776693="" class="sub-title"><img _ngcontent-ng-c1167776693=""
                            src="assets/img/star-icon.png" alt="Process"> Process </span>
                    <h2 _ngcontent-ng-c1167776693="">Our Web Design Process</h2>
                    <p _ngcontent-ng-c1167776693=""></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div _ngcontent-ng-c1894717421="" class=" col-md-4 col-lg-4" ng-reflect-ng-class="[object Object]">
                <div _ngcontent-ng-c1894717421="" class="single-process-box">

                    <div _ngcontent-ng-c1894717421="" class="image"><img _ngcontent-ng-c1894717421="" alt="Discovery"
                            src="assets/img/process/planning (1).png"></div>
                    <h3 _ngcontent-ng-c1894717421=""> Discovery</h3>
                    <p _ngcontent-ng-c1894717421="">This is our very first step to knowing all about your business, the
                        target audience you are trying to connect with, and lastly your business goals to understand the
                        requirements of the project. </p>
                </div>
            </div>

            <div _ngcontent-ng-c1894717421="" class="col-md-4 col-lg-4" ng-reflect-ng-class="[object Object]">
                <div _ngcontent-ng-c1894717421="" class="single-process-box">

                    <div _ngcontent-ng-c1894717421="" class="image"><img _ngcontent-ng-c1894717421="" alt="Design"
                            src="assets/img/process/discovery.png"></div>
                    <h3 _ngcontent-ng-c1894717421=""> Design</h3>
                    <p _ngcontent-ng-c1894717421="">Web designers of AiInfox, strictly follow the approach where
                        wireframes and mock-ups are prepared based on the inputs provided by you. We make corrections
                        till we perfectly capture your vision.</p>
                </div>
            </div>

            <div _ngcontent-ng-c1894717421="" class="col-md-4 col-lg-4" ng-reflect-ng-class="[object Object]">
                <div _ngcontent-ng-c1894717421="" class="single-process-box">

                    <div _ngcontent-ng-c1894717421="" class="image"><img _ngcontent-ng-c1894717421="" alt="Development"
                            src="assets/img/process/planning (1).png"></div>
                    <h3 _ngcontent-ng-c1894717421=""> Development</h3>
                    <p _ngcontent-ng-c1894717421="">After the final approval for the designing part, our web development
                        expert team comes into play. The team makes use of the latest technologies and brings the design
                        to life.</p>
                </div>
            </div>

            <div _ngcontent-ng-c1894717421="" class="col-md-4 col-lg-4" ng-reflect-ng-class="[object Object]">
                <div _ngcontent-ng-c1894717421="" class="single-process-box">

                    <div _ngcontent-ng-c1894717421="" class="image"><img _ngcontent-ng-c1894717421="" alt="Testing"
                            src="assets/img/process/testing.png"></div>
                    <h3 _ngcontent-ng-c1894717421=""> Testing</h3>
                    <p _ngcontent-ng-c1894717421="">Once the development part is complete, we conduct in-depth testing
                        where we ensure the website is fully functional, optimized, and error-free for all browsers and
                        devices. </p>
                </div>
            </div>

            <div _ngcontent-ng-c1894717421="" class="col-md-4 col-lg-4" ng-reflect-ng-class="[object Object]">
                <div _ngcontent-ng-c1894717421="" class="single-process-box">

                    <div _ngcontent-ng-c1894717421="" class="image"><img _ngcontent-ng-c1894717421="" alt="Launch"
                            src="assets/img/process/launch.jpg"></div>
                    <h3 _ngcontent-ng-c1894717421=""> Launch</h3>
                    <p _ngcontent-ng-c1894717421="">The final step is to launch the website, once it is approved from
                        our client's side. We keep providing ongoing support to make it a success with the targeted
                        audience in the most efficient way.</p>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- <app-related-services></app-related-services> -->