<ng-container>
    <section class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>AiINFOX-Chatbots</h2>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li>Service</li>
                    <li>AiINFOX-Chatbots</li>
                </ul>
            </div>
        </div>

        <div class="shape-img1"><img src="assets/img/shape/shape1.svg" alt="image"></div>
        <div class="shape-img2"><img src="assets/img/shape/shape2.png" alt="image"></div>
        <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    </section>



    <section class="digital-details-area midarea ptb-100" #classroomChatbotSection>
        <div class="container">

            <div class="row digital-details">

                <div class="col-lg-6 col-md-12 content-left digitalblock" >

                    <h1>Classroom Chatbot</h1>
                    <p>A classroom <a href=""><b>AI chatbot</b></a> is a smart tool made for schools. It works on computers or phones and helps
                        students learn better. It fits into digital learning tools or works alone, giving students
                        interactive help and support as they learn.
                        <br /><br />
                        Using advanced language skills, it gives personalized help, quick feedback, and adjusts how it
                        teaches based on how students are doing. This makes learning more interesting and helps students
                        do better in school.
                    </p>
                    <h3>Please feel free to get in touch with us for further information or to schedule a demo. We would
                        be happy to assist you.</h3>
                    <button class="btn btn-primary" (click)="onClickBook()">Book a Free Demo</button>

                </div>
                <div class="col-lg-6 col-md-12">
                    <img src="assets/img/courses/class-mainbanner.png" alt="Classroom Chatbot">
                </div>
            </div>

        </div>
    </section>


    <section class="keyfeature-pro ptb-50">
        <div class="container">

            <div class="row">

                <div class="col-lg-12 col-md-12">

                    <div _ngcontent-ng-c1167776693="" class="section-title"><span _ngcontent-ng-c1167776693=""
                            class="sub-title"><img _ngcontent-ng-c1167776693="" src="assets/img/star-icon.png"
                                alt="Chatbot Features"> Features </span>
                        <h2 _ngcontent-ng-c1167776693="">Enhance your learning experience with instant support </h2>
                        <p _ngcontent-ng-c1167776693="">Classroom chatbots can perform a variety of functions</p>
                    </div>

                    <div class="keyfeature">
                        <ul>
                            <li>
                                <img src="assets/img/courses/an1.jpg" alt="Answering Questions">
                                <h3>Answering<br /> Questions</h3>
                            </li>
                            <li>
                                <img src="assets/img/courses/an2.jpg" alt="Dynamic Response">
                                <h3> Dynamic<br /> Response</h3>
                            </li>
                            <li>
                                <img src="assets/img/courses/an3.jpg" alt="Subject Creation and Management">
                                <h3>Subject Creation and Management</h3>
                            </li>
                            <li>
                                <img src="assets/img/courses/an4.jpg" alt="Validation and Editing">
                                <h3>Validation and Editing Of Questions and Answers</h3>
                            </li>
                            <li>
                                <img src="assets/img/courses/an5.jpg" alt="User Management">
                                <h3>User <br />Management</h3>
                            </li>
                            <li>
                                <img src="assets/img/courses/an6.jpg" alt="Voice Interaction">
                                <h3>Voice <br />Interaction</h3>
                            </li>
                        </ul>


                    </div>

                </div>

            </div>


        </div>
    </section>
</ng-container>
<!-- <app-project-start [section]="'MobileValues'"></app-project-start>  -->

<section class="digital-details-area midarea ptb-50" #interviewChatbotSection>
    <div class="container">

        <div class="row digital-details">
            <div class="col-lg-6 col-md-12">
                <img src="assets/img/courses/interview-main.png" alt="Interview Chatbot">
            </div>
            <div class="col-lg-6 col-md-12 content-left digitalblock">

                <h1>Interview Chatbot</h1>
                <p>Interview Chatbot is an AI-powered tool that assists in the recruitment process by analyzing resumes
                    and generating custom interview questions based on a candidate's specific skills and experiences.
                    <br /><br />
                    It simplifies the interview preparation process, ensures that interviews are focused and relevant,
                    and helps hiring managers assess candidates more effectively and efficiently.
                </p>
                <h3>Embrace the future of hiring with AIInfox's Interview Chatbot— a smarter way to engage and assess
                    talent.</h3>
                <button class="btn btn-primary" (click)="onClickBook()">Book a Free Demo</button>

            </div>

        </div>

    </div>
</section>

<!-- <app-related-services></app-related-services> -->

<section class="keyfeature-pro ptb-50">
    <div class="container">

        <div class="row">

            <div class="col-lg-12 col-md-12">

                <div _ngcontent-ng-c1167776693="" class="section-title"><span _ngcontent-ng-c1167776693=""
                        class="sub-title"><img _ngcontent-ng-c1167776693="" src="assets/img/star-icon.png" alt="Chatbot Features">
                        Features </span>
                    <h2 _ngcontent-ng-c1167776693="">Empowering Your Interviews with Intelligent Conversations </h2>
                    <p _ngcontent-ng-c1167776693="">Interview chatbots can perform a variety of functions</p>
                </div>

                <div class="keyfeature">
                    <ul>
                        <li>
                            <img src="assets/img/courses/in1.jpg" alt="Resume Analysis">
                            <h3>Resume<br /> Analysis</h3>
                        </li>
                        <li>
                            <img src="assets/img/courses/in2.jpg" alt="Customized Question Generation">
                            <h3> Customized <br />Question Generation</h3>
                        </li>
                        <li>
                            <img src="assets/img/courses/in3.jpg" alt="Adaptive Questioning">
                            <h3>Adaptive <br />Questioning</h3>
                        </li>
                        <li>
                            <img src="assets/img/courses/in4.jpg" alt="Interaction Management">
                            <h3>Interaction <br />Management</h3>
                        </li>
                        <li>
                            <img src="assets/img/courses/in5.jpg" alt="Feedback and Scoring">
                            <h3>Feedback <br />and Scoring</h3>
                        </li>
                        <li>
                            <img src="assets/img/courses/in6.jpg" alt="Integration with HR Systems">
                            <h3>Integration <br />with HR Systems</h3>
                        </li>
                    </ul>


                </div>

            </div>

        </div>


    </div>
</section>