<!-- <div class="container">
    <div class="section-title" *ngFor="let sectionTitleContent of sectionTitle;">
        <span class="sub-title"><img src="assets/img/star-icon.png" alt="AI Process "> {{sectionTitleContent.subTitle}}</span>
        <h2>{{sectionTitleContent.title}}</h2>
        <p>{{sectionTitleContent.paragraphText}}</p>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6" [ngClass]="{'col-lg-6 col-md-6': section === 'aboutus'}" *ngFor="let processBoxContent of singleProcessBox;">
            <div class="single-process-box">
                <div class="number">{{processBoxContent.number}}</div>
                <div class="image">
                    <img [src]="processBoxContent.img" alt={{processBoxContent.alt}}>
                </div>
                <h3>{{processBoxContent.title}}</h3>
                <p>{{processBoxContent.paragraphText}}</p>
            </div>
        </div>
    </div>
</div>
<div class="circle-shape1"><img src="assets/img/shape/circle-shape1.png" alt="AI Services in Mohali"></div> -->


<!-- <section class="trusted-section">
    <h2>Products we developed are used by</h2>
    <div class="logo-container">
        <img src="../../../../../assets/img/icon-1.png" alt="Whole Foods">
        <img src="../../../../../assets/img/icon-2.png" alt="Starbucks">
        <img src="../../../../../assets/img/icon-3.png" alt="Multiverse">
        <img src="../../../../../assets/img/icon-4.png" alt="Dun & Bradstreet">
        <img src="../../../../../assets/img/icon-5.png" alt="Pivotree">
        <img src="../../../../../assets/img/icon-6.png" alt="Nuance">
        <img src="../../../../../assets/img/icon-7.png" alt="Mars">
        <img src="../../../../../assets/img/icon-8.png" alt="American Express">
        <img src="../../../../../assets/img/icon-9.png" alt="Nokia">
        <img src="../../../../../assets/img/icon-10.png" alt="ChemTreat">
        <img src="../../../../../assets/img/icon-11.png" alt="Shift Inc.">
        <img src="../../../../../assets/img/icon-12.png" alt="Hilton">
    </div>
</section> -->
<section class="expertise-section">
    <h2>Our Expertise for Your Success</h2>
    <p>Using powerful, industry-specific software solutions, our team can help you achieve your business goals.</p>
    <div class="expertise-container">
        <div class="expertise-box">
            <img src="../../../../../assets/img/healthcare.png" alt="">
            <p>Healthcare</p>
        </div>
        <div class="expertise-box">
            <img src="../../../../../assets/img/ecommerce.png" alt="">
            <p>Finance</p>
        </div>
        <div class="expertise-box">
            <img src="../../../../../assets/img/tech.png" alt="">
            <p>Technology</p>
        </div>
        <div class="expertise-box">
            <img src="../../../../../assets/img/cart.png" alt="">
            <p>Retail and E-commerce</p>
        </div>
        <div class="expertise-box">
            <img src="../../../../../assets/img/saas-cloud.png" alt="">
            <p>SaaS</p>
        </div>
        <div class="expertise-box">
            <img src="../../../../../assets/img/service.png" alt="">
            <p>Business Services</p>
        </div>
        <div class="expertise-box">
            <img src="../../../../../assets/img/media.png" alt="">
            <p>Media and Entertainment</p>
        </div>
        <div class="expertise-box">
            <img src="../../../../../assets/img/ai.png" alt="">
            <p>AI</p>
        </div>
    </div>
</section>