<div class="container">
    <h2>Success Story Of Clients</h2>
    <div class="main">
        <div class="left-card">
            <h3>3 Years of Collaboration</h3>
            <p>“The Diffco team studied FlashGrid’s product and marketing strategy to make sure all of our requirements were addressed”</p>
            <div class="profile">
                <img src="../../../../../assets/img/girl-aiinfox.png" alt="Profile">
                <div class="profile-info">
                    <span>Art Danielov</span>
                    CEO & CTO at FlashGrid
                </div>
            </div>
        </div>
    
        <div class="right-column">
            <div class="right-card">
                <h4>Funding & Investment</h4>
                <p>Multiverse Secures $220M in Series D Funding</p>
            </div>
            <div class="right-card">
                <h4>Achievement</h4>
                <p>Quire Achieves One Million Technical Reports Milestone</p>
            </div>
        </div>
    </div>
</div>