<ng-container>
    <section class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>AiINFOX-HMS</h2>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li>Service</li>
                    <li>AiINFOX-HMS</li>
                </ul>
            </div>
        </div>

        <div class="shape-img1"><img src="assets/img/shape/shape1.svg" alt="image"></div>
        <div class="shape-img2"><img src="assets/img/shape/shape2.png" alt="image"></div>
        <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    </section>



    <section class="digital-details-area midarea ptb-100">
        <div class="container">

            <div class="row digital-details">

                <div class="col-lg-6 col-md-12 content-left digitalblock">
                    <div class="small-title">HMS</div>
                    <h1>Multi Hospital Management System</h1>
                    <p>AiInfox is thrilled to announce its latest addition to the AI product lineup <a href=""><b>Hospital
                        Management System</b></a>. This comprehensive management system is designed to streamline hospital
                        operations most efficiently. The main purpose of developing HMS by AiInfox is to streamline all
                        hospital operations as traditional methods are often more prone to errors and are
                        time-consuming.</p>
                    <h3>Please feel free to get in touch with us for further information or to schedule a demo. We would
                        be happy to assist you.</h3>
                    <button class="btn btn-primary" (click)="onClickBook()">Book a Free Demo</button>

                </div>
                <div class="col-lg-6 col-md-12">
                    <img src="assets/img/courses/hms-main-banner.jpg" alt="HMS">
                </div>
            </div>

        </div>
    </section>


    <section class="keyfeature-pro ptb-100">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div _ngcontent-ng-c1167776693="" class="section-title"><span _ngcontent-ng-c1167776693=""
                            class="sub-title"><img _ngcontent-ng-c1167776693="" src="assets/img/star-icon.png"
                                alt="Core Features"> Core Features </span>
                        <h2 _ngcontent-ng-c1167776693="">Revolutionizing Hospital Management </h2>
                        <p _ngcontent-ng-c1167776693="">The amazing features of AiInfox’s HMS enable healthcare
                            providers to enhance healthcare services' efficiency, accuracy, and quality and serve as a
                            priceless asset.</p>
                    </div>
                </div>
            </div>
            <div class="keyfeature-outer">
                <div class="row">

                    <div class="col-md-4 col-lg-4 ppt-40">
                        <div class="keyfeature">
                            <img src="assets/img/courses/payroll.png" alt="Centralized Administration">
                            <h3>Centralized Administration</h3>
                            <p>Super Admin Controls Hospital Access, User Management, and Pricing Plans from One Panel.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 ppt-40">
                        <div class="keyfeature">
                            <img src="assets/img/courses/user.png" alt="Multi Hospital Management">
                            <h3> Multi Hospital Management</h3>
                            <p>Admin Controls All Hospitals, Users, and Adds New Hospitals.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 ppt-40">
                        <div class="keyfeature">
                            <img src="assets/img/courses/mcompany.png" alt="Bespoke Portals for Doctors">
                            <h3> Bespoke Portals for Doctors</h3>
                            <p>Doctors Can Independently Manage Their Patients, Cases, and Appointments.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 ppt-40">
                        <div class="keyfeature">
                            <img src="assets/img/courses/auditlog.png" alt="Personalized Patients Portals">
                            <h3>Personalized Patients Portals </h3>
                            <p>Patients Can Easily Access Appointments, Doctor Availability, Medications, Surgery
                                History, and Admit/Discharge Records.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 ppt-40">
                        <div class="keyfeature">
                            <img src="assets/img/courses/reporting.png" alt="Effective Case Management">
                            <h3> Effective Case Management </h3>
                            <p> Streamlined coordination, personalized care, resource efficiency, thorough discharge,
                                and compliance.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 ppt-40">
                        <div class="keyfeature">
                            <img src="assets/img/courses/shift.png" alt="Revenue Cycle Management">
                            <h3>Revenue Cycle Management</h3>
                            <p>Managing the billing cycle efficiently to ensure timely invoicing and payment processing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>
<!-- <app-project-start [section]="'MobileValues'"></app-project-start>  -->

<section class="dashboard-features">
    <div class="container">
        <div class="col-lg-12 col-md-12">
            <div _ngcontent-ng-c1167776693="" class="section-title"><span _ngcontent-ng-c1167776693=""
                    class="sub-title"><img _ngcontent-ng-c1167776693="" src="assets/img/star-icon.png" alt="Overview">
                    Overview</span>
                <h2 _ngcontent-ng-c1167776693="">Leading the Way with Unique Innovations</h2>
                <p _ngcontent-ng-c1167776693="">A perfect integration of functions and processes to facilitate efficient
                    healthcare delivery, improved patient care, and enhanced overall operational efficiency.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <article class="tabbed-content tabs-side">
                    <nav class="tabs">
                        <ul>
                            <li><a href="#side_tab1" class="active">Super Admin Dashboard</a></li>
                            <li><a href="#side_tab2">Doctor Dashboard</a></li>
                            <li><a href="#side_tab3">Patient Dashboard</a></li>
                            <li><a href="#side_tab4">Billing Management</a></li>
                            <li><a href="#side_tab5">Receptionist Dashboard</a></li>
                            <li><a href="#side_tab6">Nurses Dashboard</a></li>
                            <li><a href="#side_tab7">Pharmacist Dashboard</a></li>
                            <li><a href="#side_tab8">Lab Technician</a></li>
                        </ul>
                    </nav>
                    <div class="itemsright-sec">
                        <section id="side_tab1" class="item active" data-title="Super Admin Dashboard">
                            <div class="item-content">
                                <div class="inner-item">
                                    <h3>Super Admin Dashboard</h3>
                                    <p>The Admin dashboard in the Hospital Management System has all the essential
                                        controls and hence, allows hospital administrators to manage user access easily,
                                        conveniently track hospital performance, and minimize errors to 0 resulting in
                                        increased quality care delivery. As all things are streamlined in one place, it
                                        simplifies tasks ensuring the smooth running of the hospital.</p>
                                    <img src="assets/img/courses/hms-admin.jpg" alt="Super Admin Dashboard">
                                </div>
                            </div>
                        </section>
                        <section id="side_tab2" class="item" data-title="Doctor Dashboard">
                            <div class="item-content">
                                <div class="inner-item">
                                    <h3>Doctor Dashboard</h3>
                                    <p>The Hospital management system enables doctors to manage everything from their
                                        dashboard. They have full access where they can efficiently manage patient
                                        information remotely, and communicate effectively with nurses and other staff
                                        members.</p>
                                    <img src="assets/img/courses/doctor-dash.jpg" alt="Doctor Dashboard">
                                </div>
                            </div>
                        </section>
                        <section id="side_tab3" class="item" data-title="Patient Dashboard">
                            <div class="item-content">
                                <div class="inner-item">
                                    <h3>Patient Dashboard</h3>
                                    <p>A patient dashboard displays appointments, medical records, and health details
                                        for easy access and management of personal healthcare information.</p>
                                    <img src="assets/img/courses/patient-dash.jpg" alt="Patient Dashboard">
                                </div>
                            </div>
                        </section>

                        <section id="side_tab4" class="item" data-title="Billing Management">
                            <div class="item-content">
                                <div class="inner-item">
                                    <h3>Billing Management</h3>
                                    <p>One of the most important aspects of HMS is generating invoices for various
                                        services provided to patients. Utilizing the functionalities of the Hospital
                                        Billing information module, healthcare organizations can streamline billing
                                        processes, optimize revenue cycle management, and ensure accurate reimbursement
                                        for patient services, eventually supporting financial sustainability.</p>
                                    <img src="assets/img/courses/account-dash.jpg" alt="Billing Management">
                                </div>
                            </div>
                        </section>

                        <section id="side_tab5" class="item" data-title="Receptionist ">
                            <div class="item-content">
                                <div class="inner-item">
                                    <h3>Receptionist Dashboard</h3>
                                    <p>The receptionist can manage IPD/OPD patient data, front office operations,
                                        scheduling meetings, and handling inquiries efficiently.</p>
                                    <img src="assets/img/courses/receptionist-dash.jpg" alt="Receptionist Dashboard">
                                </div>
                            </div>
                        </section>

                        <section id="side_tab6" class="item" data-title="Nurses Dashboard">
                            <div class="item-content">
                                <div class="inner-item">
                                    <h3>Nurses Dashboard</h3>
                                    <p>In this module, nurses or case managers can oversee bed management, update notice
                                        boards, and manage assigned duties effectively.</p>
                                    <img src="assets/img/courses/nurses-dash.jpg" alt="Nurses Dashboard">
                                </div>
                            </div>
                        </section>

                        <section id="side_tab7" class="item" data-title="Pharmacist Dashboard">
                            <div class="item-content">
                                <div class="inner-item">
                                    <h3>Pharmacist Dashboard</h3>
                                    <p>A pharmacist dashboard provides medication management, prescription tracking,
                                        inventory monitoring, and patient interaction records for efficient pharmacy
                                        operations.</p>
                                    <img src="assets/img/courses/pharma-dash.jpg" alt="Pharmacist Dashboard">
                                </div>
                            </div>
                        </section>

                        <section id="side_tab8" class="item" data-title="Lab Technician">
                            <div class="item-content">
                                <div class="inner-item">
                                    <h3>Lab Technician</h3>
                                    <p>A lab technician dashboard allows for efficient management of tests, tracking of
                                        results, monitoring of equipment, and ensuring quality control in laboratory
                                        operations.</p>
                                    <img src="assets/img/courses/labtech-dash.jpg" alt="Lab Technician">
                                </div>
                            </div>
                        </section>

                    </div>
                </article>
            </div>

        </div>
    </div>
</section>
<!-- <app-related-services></app-related-services> -->

<section class="benefits-features">
    <div class="container">
        <div class="col-lg-12 col-md-12">
            <div _ngcontent-ng-c1167776693="" class="section-title"><span _ngcontent-ng-c1167776693=""
                    class="sub-title"><img _ngcontent-ng-c1167776693="" src="assets/img/star-icon.png" alt="AI-HRMS"> Why
                    AI-HRMS</span>
                <h2 _ngcontent-ng-c1167776693="">Benefits of HRMS </h2>
                <p _ngcontent-ng-c1167776693=""> It is a complete digital solution designed to handle the varied tasks
                    of human resource operations.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="benefits-hrms">
                    <ul>
                        <li>
                            1. <strong>Streamlined Operations: </strong>HMS automates various administrative and
                            operational tasks such as appointment scheduling, billing, and inventory management,
                            reducing manual errors and saving time.
                        </li>
                        <li>
                            2. <strong>Enhanced Patient Care:</strong> By centralizing patient records, doctors and
                            nurses can access accurate information quickly, leading to improved diagnosis and treatment
                            decisions. This also facilitates better coordination among healthcare providers.
                        </li>
                        <li>
                            3. <strong>Cost Efficiency:</strong> Automation of routine tasks reduces paperwork and
                            administrative costs. Effective management of resources such as staff, equipment, and
                            supplies helps in optimizing operational expenses.
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="benefits-hrms">
                    <ul>
                        <li>
                            4. <strong>Improved Decision Making:</strong> HMS provides real-time data analytics and
                            reporting capabilities, enabling administrators to make informed decisions promptly. This
                            includes tracking patient outcomes, financial performance, and resource utilization.
                        </li>
                        <li>
                            5. <strong>Better Patient Experience: </strong>Faster appointment scheduling, reduced
                            waiting times, and improved communication between patients and healthcare providers
                            contribute to a more positive patient experience.
                        </li>
                        <li>
                            6. <strong>Integration and Scalability:</strong> Many HMS are designed to integrate with
                            other healthcare systems and scale as per the needs of the hospital or clinic, supporting
                            future growth and technological advancements.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>