<ng-container>
    <section class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>Web Development</h2>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li>Service</li>
                    <li>Web Development</li>
                </ul>
            </div>
        </div>

        <div class="shape-img1"><img src="assets/img/shape/shape1.svg" alt="image"></div>
        <div class="shape-img2"><img src="assets/img/shape/shape2.png" alt="image"></div>
        <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    </section>

    <section class="services-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Strengthen Your Online Presence with Leading Web Development Services in Mohali </h1>
                    <div class="service-content">
                        <p>In today's digitalized age, owning a website has become essential. It acts as a doorway to
                            reach both local and global audiences offering widespread opportunities to promote your
                            products and services and leading to enhanced visibility of your brand.</p>

                        <p>At AiInfox, we have the experience and skill set to craft custom-made web applications and
                            development solutions to your business needs. Our <a href=""><b>website development services</b></a> ensure your online presence is as effective and dynamic as your business.
                        </p>


                        <div class="row ptb-50">
                            <div class="col-lg-6 col-md-12 webdesign-service">
                                <img src="assets/img/services/webdesign.jpg" alt="Web Development Services">
                            </div>
                            <div class="col-lg-6 col-md-12 content-left digitalblock">
                                <h3>Our Wide-Range of Web Development Services</h3>

                                <ul>
                                    <li>
                                        <span>
                                            <div class="icon">
                                                <img alt="Angular" src="assets/img/icon1.png">
                                            </div>
                                            <h4>Angular</h4>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <div class="icon">
                                                <img alt="Node JS" src="assets/img/icon2.png">
                                            </div>
                                            <h4> Node JS </h4>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <div class="icon">
                                                <img alt="React JS" src="assets/img/icon3.png">
                                            </div>
                                            <h4> React JS </h4>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <div class="icon">
                                                <img alt="Python" src="assets/img/icon4.png">
                                            </div>
                                            <h4>Python</h4>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <div class="icon">
                                                <img alt="Laravel" src="assets/img/icon5.png">
                                            </div>
                                            <h4>Laravel</h4>
                                        </span>
                                    </li>

                                    <li>
                                        <span>
                                            <div class="icon">
                                                <img alt="PHP Development" src="assets/img/icon6.png">
                                            </div>
                                            <h4>PHP Development</h4>
                                        </span>
                                    </li>

                                    <li>
                                        <span>
                                            <div class="icon">
                                                <img alt="WordPress" src="assets/img/icon7.png">
                                            </div>
                                            <h4>WordPress</h4>
                                        </span>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>
</ng-container>
<app-project-start [section]="'DevelopValues'"></app-project-start>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div _ngcontent-ng-c1167776693="" class="section-title">
                    <span _ngcontent-ng-c1167776693="" class="sub-title"><img _ngcontent-ng-c1167776693=""
                            src="assets/img/star-icon.png" alt="Process"> Process </span>
                    <h2 _ngcontent-ng-c1167776693="">Our Pathbreaking Work Path</h2>
                    <p _ngcontent-ng-c1167776693=""></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div _ngcontent-ng-c1894717421="" class=" col-md-4 col-lg-4" ng-reflect-ng-class="[object Object]">
                <div _ngcontent-ng-c1894717421="" class="single-process-box">

                    <div _ngcontent-ng-c1894717421="" class="image"><img _ngcontent-ng-c1894717421="" alt="Planning"
                            src="assets/img/process/img1.png"></div>
                    <h3 _ngcontent-ng-c1894717421=""> Planning</h3>
                    <p _ngcontent-ng-c1894717421=""> Keeping your goals and expectations in mind, we precisely plan
                        every aspect of your project. </p>
                </div>
            </div>

            <div _ngcontent-ng-c1894717421="" class="col-md-4 col-lg-4" ng-reflect-ng-class="[object Object]">
                <div _ngcontent-ng-c1894717421="" class="single-process-box">

                    <div _ngcontent-ng-c1894717421="" class="image"><img _ngcontent-ng-c1894717421="" alt="Research"
                            src="assets/img/process/research.jfif"></div>
                    <h3 _ngcontent-ng-c1894717421=""> Research</h3>
                    <p _ngcontent-ng-c1894717421="">Before proceeding, we do thorough in-depth research, as it will help
                        us gain valuable insights and based on it, we can target the audience ultimately laying the
                        strong foundation for success.</p>
                </div>
            </div>

            <div _ngcontent-ng-c1894717421="" class="col-md-4 col-lg-4" ng-reflect-ng-class="[object Object]">
                <div _ngcontent-ng-c1894717421="" class="single-process-box">

                    <div _ngcontent-ng-c1894717421="" class="image"><img _ngcontent-ng-c1894717421="" alt="Outcome"
                            src="assets/img/process/outcomes.jpg"></div>
                    <h3 _ngcontent-ng-c1894717421=""> Outcome</h3>
                    <p _ngcontent-ng-c1894717421="">To promote business growth and achieve success, we focus on
                        delivering desirable results surpassing your expectations.</p>
                </div>
            </div>




        </div>
    </div>
</section>
<section class="fact-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  col-sm-12"><img src="assets/img/services/img7.png" alt="Services"></div>
            <div class="col-lg-6  col-sm-12">
                <h2 class="briefmi">Why Choose Us as Your Web Development Partner?</h2>
                <div class="accordion accordion--radio">
                    <div class="tab">
                        <input type="radio" name="accordion-2" id="rd1" checked>
                        <label for="rd1" class="tab__label">Enhanced User Experience:</label>
                        <div class="tab__content firsttab">
                            <p>Impressing your audience with seamless navigation, and eye-catching visuals along with a
                                faster loading speed of the website is the best way to win their hearts in the first
                                impression. Here, we make sure that every element of your website is aligned in a proper
                                way contributing to an excellent user experience that further entices the visitors to
                                explore more.</p>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" name="accordion-2" id="rd2">
                        <label for="rd2" class="tab__label">Increase in Conversions:</label>
                        <div class="tab__content">
                            <p>A well-crafted website opens the doors of ample opportunities where visitors not only get
                                attracted to the website but greatly help in conversions becoming regular customers. By
                                employing our expertise and experience, you can observe a higher rate of conversions and
                                an increased rate of return on investment.</p>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" name="accordion-2" id="rd3">
                        <label for="rd3" class="tab__label">Expansion of Business:</label>
                        <div class="tab__content">
                            <p>Are you willing to touch new heights? Our cutting-edge web development services
                                tremendously help you provide a competitive edge over your competitors by achieving
                                brand recognition resulting in higher sales growth.</p>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</section>



<!-- <app-related-services></app-related-services> -->