<div class="section-head-bottom text-center">
    <h2>Our cases and testimonials from delighted clients</h2>
</div>

        <div class="container con-1">
            <div class="content">
                <div class="logo">multiverse</div>
                <div class="tags">
                    <span>Edtech</span>
                    <span>Training</span>
                    <span>SaaS</span>
                </div>
                <div class="headline">We helped with developing comprehensive support solutions for internal processes and collaborative tools.</div>
                <p class="testimonial">“Diffco supplied us with the skilled engineers we needed to meet our ambitious goals. Their account manager proactively addressed concerns, ensuring our expectations were met.”</p>
                <div class="author">
                    <img src="../../assets/img/girl-aiinfox.png" alt="User">
                    <div>
                        <strong>Razvan Spatariu</strong><br>
                        Senior Software Engineering Manager at Multiverse
                    </div>
                </div>
            </div>
            <div class="image-wrapper">
                <img src="../../assets/img/girl-aiinfox.png" alt="Woman with laptop">
            </div>
        </div>


        <div class="container con-2">
            <div class="content">
                <div class="logo">multiverse</div>
                <div class="tags">
                    <span>Edtech</span>
                    <span>Training</span>
                    <span>SaaS</span>
                </div>
                <div class="headline">We helped with developing comprehensive support solutions for internal processes and collaborative tools.</div>
                <p class="testimonial">“Diffco supplied us with the skilled engineers we needed to meet our ambitious goals. Their account manager proactively addressed concerns, ensuring our expectations were met.”</p>
                <div class="author">
                    <img src="../../assets/img/girl-aiinfox.png" alt="User">
                    <div>
                        <strong>Razvan Spatariu</strong><br>
                        Senior Software Engineering Manager at Multiverse
                    </div>
                </div>
            </div>
                <img src="../../assets/img/lock-2.png" alt="Woman with laptop">
        </div>

        <div class="container con-3">
            <div class="content">
                <div class="logo">multiverse</div>
                <div class="tags">
                    <span>Edtech</span>
                    <span>Training</span>
                    <span>SaaS</span>
                </div>
                <div class="headline">We helped with developing comprehensive support solutions for internal processes and collaborative tools.</div>
                <p class="testimonial">“Diffco supplied us with the skilled engineers we needed to meet our ambitious goals. Their account manager proactively addressed concerns, ensuring our expectations were met.”</p>
                <div class="author">
                    <img src="../../assets/img/girl-aiinfox.png" alt="User">
                    <div>
                        <strong>Razvan Spatariu</strong><br>
                        Senior Software Engineering Manager at Multiverse
                    </div>
                </div>
            </div>
           
                <img src="../../assets/img/three-0.png" alt="Woman with laptop" class="my-image">
           
        </div>
    
    <div _ngcontent-ng-c116318799="" class="vector-shape11"><img _ngcontent-ng-c116318799="" src="/assets/img/vector-shape11.png" alt="image"></div>
</section>