<section class="page-title-area">
    <div class="container">
        <div class="page-title-content" *ngFor="let pageTitle of pageTitleArea;">
            <h2>{{pageTitle.title}}</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>{{pageTitle.title}}</li>
            </ul>
        </div>
    </div>

    <div class="shape-img1"><img src="assets/img/shape/shape1.svg" alt="image"></div>
    <div class="shape-img2"><img src="assets/img/shape/shape2.png" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
</section>

<section class="faq-area ptb-100">
    <div class="container">
        <h1 class="wow animate__animated animate__fadeInLeft">Welcome to AiInfox! We value your privacy and are dedicated to protecting your personal information. This Privacy Policy explains what information we collect, how we use it, and how we keep it safe.</h1>
        <div class="faq-accordion mt-3">
            <ul class="accordion">
                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Information We Collect</p>
                    </a>

                    <div class="accordion-content">
                        <p>
                            Here’s the type of information we gather
                        </p>
                        <ul>
                            <li>Personal Information: Your name, email address, telephone number, and all other data that you provide when you contact us, or use our services.</li>
                            <li>Usage Data: Includes information about how you use our website, such as IP addresses, browser type and the pages you visit.</li>
                            <li>Cookies: Small files, which help us in knowing your preferences and give an enriching experience on our site. </li>
                        </ul>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>How We Use Your Information?</p>
                    </a>

                    <div class="accordion-content">
                        <p>
                            We use your information to:
                        </p>
                        <ul>
                            <li>Provide and improve our services.</li>
                            <li>Respond to your questions and requests. </li>
                            <li>Personalize your experience on our website.</li>
                            <li>Send you updates and promotional materials (you can unsubscribe anytime).</li>
                            <li>Analyze website usage to enhance our services.</li>
                        </ul>
                    </div>
                </li>


                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Sharing Your Information We do not sell or rent your </p>
                    </a>

                    <div class="accordion-content">
                        <p>
                            information. We may share it with:
                        </p>
                        <ul>
                            <li>Service Providers: Trusted partners who help us run our website and services, under strict confidentiality agreements.</li>
                            <li>Legal Compliance: When required by law or to protect our rights.</li>
                            
                        </ul>
                    </div>
                </li>


                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Security</p>
                    </a>

                    <div class="accordion-content">
                        <ul>
                            <li>We take strong measures to protect your information from unauthorized access. However, no system is completely secure, so we cannot guarantee total security.</li>
                        </ul>
                    </div>
                </li>


                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p> Your Rights</p>
                    </a>

                    <div class="accordion-content">
                        <p>
                            You have the right to:
                        </p>
                        <ul>
                            <li>Access and update your personal information.</li>
                            <li>Request that we delete your data, subject to legal requirements.</li>
                            <li>Unsubscribe from marketing emails
                                To exercise these rights, contact us at 7888513249</li>
                           
                        </ul>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Third-Party Links</p>
                    </a>

                    <div class="accordion-content">
                        
                        <ul>
                            <li>Our website may link to other sites. We’re not responsible for their privacy practices, so please review their policies.</li>
                           
                        </ul>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Changes to This Policy</p>
                    </a>

                    <div class="accordion-content">
                        
                        <ul>
                            <li>We may update this policy occasionally. We’ll post any changes here, so please check back to stay informed.</li>
                           
                        </ul>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Contact Us</p>
                    </a>

                    <div class="accordion-content">
                        <p>If you have any questions about this Privacy Policy, you can reach us at:</p>
                        <ul>
                            <li>AiInfox: Where AI and Innovation Collide<br>
                                Email: info&#64;aiinfox.com<br>
                                Phone: 7888513249<br>
                                Address: D-234, Phase 8B, Industrial Area, Sector 74, SAS Nagar, Punjab 160055<br>
                                Thank you for trusting AiInfox with your information. We’re committed to keeping it safe as we innovate and grow.
                            </li>
                        </ul>
                    </div>
                    
                </li>
            </ul>
        </div>
    </div>
</section>
