<!-- <section class="tech-section">
  <div class="container">
    <div class="section-title">
      <h2>AI Development Technology Stack</h2>
      <p>
        We are constantly working with a vision in mind to transform the power
        of Artificial Intelligence for an enhanced future.
      </p>
    </div>

    <div class="inner-section">
      <div class="flip-container" *ngFor="let tech of techStack">
        <div class="flipper">
          <div class="front">
            <div class="icon">
              <img [src]="tech.frontIcon" [alt]="tech.title">
            </div>
            <h3 class="title">{{ tech.title }}</h3>
          </div>
          <div class="back">
            <div class="icon-row">
              <img *ngFor="let icon of tech.backIcons" [src]="icon.src" [alt]="icon.alt" [title]="icon.tooltip">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="circle-shape1">
    <img src="assets/img/shape/circle-shape1.png" alt="Artificial Intelligence Services">
  </div>
</section> -->


<!-- <section class="tech-section">
  <div class="section-title">
    <h2>AI Development Technology Stack</h2>
    <p>
      We are constantly working with a vision in mind to transform the power
      of Artificial Intelligence for an enhanced future.
    </p>
  </div>
  <div class="slider-container">
    <div
      class="slider"
      [ngStyle]="{ transform: 'translateX(' + currentSlideOffset + '%)' }"
    >
      <div
        class="slide"
        *ngFor="let icon of allIcons; let i = index"
        [ngClass]="{ 'zoom': i === getLastVisibleIndex() }"
      >
        <img
          [src]="icon.src"
          [alt]="icon.alt"
          [title]="icon.tooltip"
          class="icon"
        >
      </div>
    </div>
  </div>
</section> -->




<section class="mb-5">
<div class="section-head-bottom text-center">
  <h2>Our cases and testimonials from delighted clients</h2>
</div>

     <a href="/twilio-chatbot">
      <div class="container con-1 my-container">
        <div class="content">
          <div class="logo">Twilio Chatbot</div>
          <div class="tags">
              <span>Communication </span>
              <span>AI </span>
              <span>Automation</span>
          </div>
          <div class="headline">We built an SMS automation solution using Twilio, Flask, HubSpot, and OpenAI to streamline customer interactions.</div>
          <p class="testimonial">“"Their expertise in integrating AI-driven SMS automation helped us optimize our customer engagement. The team ensured seamless implementation and proactively addressed challenges to meet our objectives.”</p>
          <div class="author">
              <img src="../../assets/img/girl-aiinfox.png" alt="User">
              <div>
                  <strong>Razvan Spatariu</strong><br>
                  Senior Software Engineering Manager at Multiverse
              </div>
          </div>
      </div>
          <div class="image-wrapper">
              <img src="../../assets/img/twilio-case-study.png" alt="Woman with laptop">
          </div>
      </div>
     </a>


      <a href="interview-chatbot">
        <div class="container con-2 my-container">
          <div class="content">
              <div class="logo">Interview Chatbot</div>
              <div class="tags">
                  <span>HR Tech </span>
                  <span>AI </span>
                  <span>Recruitment</span>
              </div>
              <div class="headline">We built an AI interview chatbot to automate screening, generate questions, and conduct interviews, improving hiring efficiency.</div>
              <p class="testimonial">"Their AI chatbot streamlined hiring by automating screenings, enhancing candidate experience, and boosting recruitment efficiency.”</p>
              <div class="author">
                  <img src="../../assets/img/girl-aiinfox.png" alt="User">
                  <div>
                      <strong>Mohal Kumar</strong><br>
                      Senior Software Engineering Manager at Multiverse
                  </div>
              </div>
          </div>
              <img src="../../assets/img/intervie-hatbot.png" alt="Woman with laptop">
      </div>
      </a>

      <a href="voice-agent">
        <div class="container con-3 my-container">
          <div class="content">
              <div class="logo">AI-Powered Voice Agent</div>
              <div class="tags">
                  <span>Customer Service</span>
                  <span>AI </span>
                  <span>Communication</span>
              </div>
              <div class="headline">We built an AI voice agent with Twilio, Retell, and AI for smart call routing and real-time queries, improving efficiency and reducing wait times.</div>
              <p class="testimonial">"Their AI-driven voice agent transformed our customer service operations by automating call handling and delivering real-time, intelligent responses. The seamless integration of Twilio and AI significantly improved customer satisfaction and operational efficiency."</p>
              <div class="author">
                  <img src="../../assets/img/girl-aiinfox.png" alt="User">
                  <div>
                      <strong>Karan Rana</strong><br>
                      Senior Software Engineering Manager at Multiverse
                  </div>
              </div>
          </div>
         
              <img src="../../assets/img/men-call.png" alt="Woman with laptop" class="my-image">
         
      </div>
      </a>
  
  <div _ngcontent-ng-c116318799="" class="vector-shape11"><img _ngcontent-ng-c116318799="" src="/assets/img/vector-shape11.png" alt="image"></div>


  <div class="col-lg-12 d-flex justify-content-center ">
    <a  class="default-btn"  href="/case-study"><i class="flaticon-right"></i>View All<span style="top: 57.0966px; left: 33.5px;"></span></a>
  </div>
</section>







<section class="container-fluid set-gap">
  
<div class="container-fluid my-container-res">
  <div class="head">
    <h2>
      Continous Innovation <br>+ Operational Excellence
    </h2>
  </div>
<div class="main">
  <div class="box">
    <h1>01</h1>
    <h2>Simplify digital transformation</h2>
    <p>Kyndryl Consult helps you drive innovation and simplify digital transformation with strategic visioning, architecture design, and organizational change management.</p>
    <a href="#">Discover Kyndryl Consult</a>
</div>
<div class="box">
    <h1>02</h1>
    <h2>Overcome business challenges</h2>
    <p>Our services combine deep industry expertise with modern skills and advanced technology to help you overcome business challenges and uncover new opportunities for growth.</p>
    <a href="#">Explore our services</a>
</div>
<div class="box">
    <h1>03</h1>
    <h2>Orchestrate and innovate</h2>
    <p>Kyndryl Bridge is an open integration platform designed to help orchestrate and innovate across your IT environment, enabling continuous learning and quicker time to value.</p>
    <a href="#">Learn about Kyndryl Bridge</a>
</div>
<div class="box">
    <h1>04</h1>
    <h2>Enable hybrid IT with strategic partners</h2>
    <p>Be confident that you're making the right technology investments with global alliance partnerships that enable today’s complex hybrid ecosystems.</p>
    <a href="#">Explore our partners</a>
</div>
</div>
</div>
</section>


<section class="tech-stack">
  <div class=" container container-col">
     
      <div class="section-title my-section">
        <h2>Technologies We Use</h2>
      </div>
      <div class="tech-grid">
          <div class="tech-item">
              <img src="./assets/img/react-icon-home.png" alt="react">
              <p>React</p>
          </div>
          <div class="tech-item">
              <img src="./assets/img/angular-icon-home.png" alt="angular">
              <p>Angular</p>
          </div>
          <div class="tech-item">
              <img src="../../assets/img/java-icon.png" alt="java">
              <p>Java</p>
          </div>
          <div class="tech-item">
              <img src="../../assets/img/n8n-icon-home.png" alt="React">
              <p>N8N</p>
          </div>
          <div class="tech-item">
              <img src="../../assets/img/node-js.png" alt="Angular">
              <p>Node.js</p>
          </div>
          <div class="tech-item">
              <img src="../../assets/img/python-icon-home.png" alt="Node.js">
              <p>Python</p>
          </div>
          <div class="tech-item">
            <img src="../../assets/img/laravel-home-icon.png" alt="Node.js">
            <p>Laravel</p>
        </div>
      </div>
  </div>
</section>