
.container--narrow {
    width: 80%;
    margin: auto;
}

.main-banner {
    position: relative;
    z-index: 1;
    background: {
        color: var(--whiteColor);
        image: url(../../../assets/img/main-banner/bg.png);
        position: bottom center;
        size: cover;
        repeat: no-repeat;
    };
    padding: {
        top: 365px;
        bottom: 350px;
    };
    .container-fluid {
        max-width: 1360px;
    }
    &.without-banner-animation {
        padding: {
            top: 200px;
            bottom: 250px;
        };
        .main-banner-content {
            margin-top: 0;
        }
    }
}
.banner-d-page{
    padding-top: 180px;
    padding-left: 0px;
    padding-bottom: 80px;
    padding-right: 0px;;
}
.main-banner-content {
    z-index: 9;
}
.form-content {
    z-index: 9;
    display: flex;
    justify-content: center;
}
.inner-banner-d {
    padding: 80px 30px 80px 30px;
    background-image: url(../../../assets/img/page-banner-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.inner-banner-d::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 93 34 / 90%);
    z-index: 1;
    border-radius: 10px;
  }
  

  .banner-black-button{
    background-color: #000 !important;
  }

  .contact-form h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

  .content-d{
    position: relative;
    z-index: 2; /* Ensures it appears above the overlay */
    color: white; /* Text color to contrast with the dark overlay */
    padding: 20px;
  }
.main-banner-content {
   
    p{
        color: #FFF;
        text-align: left;
    }
    h1 {
        font-size: 54px;
        font-weight: 700;
        color: #fff;
        text-align: left;
        font-family: var(--fontFamily);
        margin: {
            bottom: 18px;
            top: -10px;
        };
    }
    .btn-box {
        margin-top: 35px;

        .default-btn {
            margin-bottom: -7px;
        }
        .video-btn {
            position: absolute;
            display: inline-block;
            text-transform: uppercase;
            color: var(--mainColor);
            font: {
                size: 16px;
                weight: 700;
            };
            margin: {
                top: -3px;
                left: 30px;
            };
            i {
                width: 55px;
                height: 55px;
                line-height: 56px;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .10);
                display: inline-block;
                text-align: center;
                border-radius: 50%;
                background-color: var(--whiteColor);
                font-size: 20px;
                margin-right: 5px;
                transition: var(--transition);
            }
            &:hover {
                i {
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                }
            }
        }
    }
}

.contact-form {
    padding: 20px;
    background:#fff;
    border-radius: 5px;
    width: 70%;
}
.form-sub{
    background-color: #fff !important;
    color: var(--mainColor);
}
.form-sub:hover{
    background-color: #fff !important;
}
.contact-form input {
    background: #fff;
    font-size: 14px;
    height: 42px;
    border: 1px solid #e1dede;
}
.contact-form textarea{
    background: #fff;
    border: 1px solid #e1dede;
}
.dubai-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.show h2 span{
    color: var(--mainColor);
}

.solutions-area {
    .section-title {
        max-width: 795px;
    }
}
.single-solutions-box {
    margin-bottom: 30px;
    padding: 50px 30px;
    border-radius: 5px;
    transition: var(--transition);
    border: 1px solid #f5f3f2;
    text-align: center;
    display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

    .icon {
        margin-bottom: 25px;
        line-height: 1;
        font-size: 65px;
        width: 70px;
        height: 70px;
    }
    h3 {
        margin-bottom: 12px;
        font: {
            size: 24px;
        };
        a {
            display: inline-block;
        }
    }
    .view-details-btn {
        display: inline-block;
        color: var(--mainColor);
        margin-top: 3px;
        position: relative;
        font: {
            size: 16.4px;
            weight: 700;
        };
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: var(--mainColor);
            transition: var(--transition);
        }
        &:hover {
            color: var(--blackColor);

            &::before {
                width: 100%;
            }
        }
    }
    &:hover {
        border-color: var(--mainColor);

        .icon {
            animation: bounce 2s;
        }
    }
}
.services-area {
    &.bg-f1f8fb {
        .single-solutions-box {
            border-color: #efeaea;

            &:hover {
                border-color: var(--mainColor);
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .solutions-area {
        .section-title {
            max-width: 100%;
        }
    }
    .single-solutions-box {
        padding: 20px;

        .icon {
            margin-bottom: 20px;
            font-size: 45px;
        }
        h3 {
            margin-bottom: 12px;
            font-size: 20px;
        }
        .view-details-btn {
            font-size: 15px;
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .solutions-area {
        .section-title {
            max-width: 600px;
        }
    }
    .single-solutions-box {
        padding: 35px 20px;

        .icon {
            font-size: 50px;
        }
        h3 {
            font-size: 22px;
        }
        .view-details-btn {
            font-size: 16px;
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-solutions-box {
        padding: 40px 20px;

        h3 {
            font-size: 22px;
        }
    }

}
.solutions-area{
    margin-top: 110px;
}


.project-start-area {
    position: relative;
    z-index: 1;
    background: #f2f2f24d;
    &.bg-color {
        background-color: var(--blackColor);
        a {
            color: var(--whiteColor) !important;
        }

        .project-start-content {
            h2, h3 {
                color: var(--whiteColor);
            }
            p {
                color: var(--whiteColor);
            }
            a {
                color: var(--whiteColor);
            }
            .default-btn {
                span {
                    background-color: var(--whiteColor);
                }
                &:hover {
                    color: var(--blackColor);
                }
            }
        }
    }
}
.project-start-image {
    text-align: center;
}

.project-start-content {
    .sub-title {
        position: relative;
        display: block;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: var(--mainColor);
        font: {
            weight: 700;
            size: 15px;
        };
        img {
            margin-right: 5px;
            animation: {
                name: rotateme;
                duration: 40s;
                iteration-count: infinite;
                timing-function: linear;
            };
        }
    }
    h2 {
        margin-bottom: 15px;
        font: {
            size: 42px;
            weight:700;
        };
    }
    p {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .default-btn {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 767px) {

    .project-start-content {
        text-align: center;
        margin-top: 30px;

        .sub-title {
            margin-bottom: 12px;
            font-size: 14px;
        }
        h2 {
            font-size: 27px;
            margin-bottom: 12px;
        }
        .default-btn {
            margin-top: 0;
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .project-start-content {
        text-align: center;
        max-width: 600px;
        margin: {
            left: auto;
            right: auto;
            top: 35px;
        };
        .sub-title {
            font-size: 14px;
        }
        h2 {
            font-size: 35px;
        }
        .default-btn {
            margin-top: 0;
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .project-start-content {
        h2 {
            font-size: 36px;
        }
    }

}
@media(max-width:992px){
    .project-start-area .con-btn {
        margin-top: 20px !important;
        margin-bottom: 20px;

    }
    
}

.circleShape1 {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
.vectorShape3 {
    position: absolute;
    top: 0;
    left: 0;
}

// testimonial css

.content-left h3
{
font-weight: 600;
padding:20px 0px 10px;
}
.content-left li
{
  color:#6b6b84;
  padding: 2px 0px;
}
.digital-details img,
.topleft-img img
{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.digitalblock ul
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
}
.digitalblock li
{
    color: #6b6b84;
    padding: 2px 0px;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    list-style-type: none;
}
.webdesign-service img
{
    width: 100%;
height: 100%;
object-fit: cover;
}
.digitalblock span
{
    display: block;
  border: 1px solid #f0eae2;
  border-radius: 5px;
  padding: 20px 20px 20px 60px;
  position: relative;
  background-color: var(--whiteColor);
  transition: var(--transition);
  position: relative;
}
.digitalblock .icon
{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.digitalblock .icon img
{
    width: 70%;
}
.digitalblock  h4
{
    margin-bottom: 3px;
    font-size: 18px;
}
.ptb-50
{
    padding: 50px 0px 10px;
}

@media(max-width:600px)
{
    .digitalblock li
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.service-content h3
{
    margin: 25px 0px 12px 0px;
}
.ptb-40 {
    padding: 40px 0px 0px;
}
.single-process-box
{
  margin-bottom: 30px;
  background-color: var(--whiteColor);
  transition: var(--transition);
  border: 1px solid #f5f3f2;
  border-radius: 5px;
  padding: 0px 0px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.single-process-box:hover
{
    border-color: var(--mainColor);

}
.single-process-box img
  {
    border-radius: 5px 5px 0px 0px;
  }
  .single-process-box h3
  {
    padding: 20px 20px 0px;
  }
  .single-process-box p
  {
    padding: 0px 20px 20px;
  }
.fact-sec {
	background: #f8f0e4;
    padding: 50px 0px;
}
.fact-sec img
{
    width: 90%;
}
h2.briefmi
{
font-weight: 700;
        padding: 20px 0px;
        font-size: 38px;
}
.col-lg-4
{
    display: flex;
    flex-wrap: wrap;
}


.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab__content {
  max-height: 0rem;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 11rem;
}
.tab input:checked ~ .tab__label {
    background: #ff5d22;
    color:#fff;
    
  }
/* Visual styles */
.accordion {
  color: #fff;
  border: 0px solid;
  border-radius: 0rem;
  overflow: hidden;
  border-left:1px solid #000;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
}


.tab__label,
.tab__close {
    display: flex;
    color: #020202;
    background: #fff;
    cursor: pointer;
    border-top: 1px solid #000;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
  background: #fff;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}


.testimonials-area {
    position: relative;
    z-index: 1;

    &.bg-color {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            height: 267px;
            background-color: #f1f8fb;
        }
    }
    &.bg-23173a {
        background-color: var(--blackColor);

        .section-title {
            h2 {
                color: var(--whiteColor);

                .overlay {
                    background-color: var(--whiteColor);
                }
            }
            p {
                color: var(--whiteColor);
            }
        }
    }
}
.single-testimonials-item {
    margin-bottom: 30px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    padding: 130px 50px 50px;
    text-align: center;

    p {
        margin-bottom: 0;
        font-size: 18px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--whiteColor);
        z-index: -1;
        height: 87%;
        border-radius: 5px;
        right: 0;
    }
    &::after {
        content: "\f106";
        position: absolute;
        left: 0;
        color: var(--blackColor);
        top: -20px;
        line-height: 1;
        z-index: -1;
        right: 0;
        opacity: .05;
        font: {
            family: Flaticon;
            size: 150px;
        };
    }
    .client-info {
        margin-top: 25px;

        img {
            width: 50px !important;
            height: 50px;
            display: inline-block !important;
            border-radius: 50%;
        }
        .title {
            text-align: start;
            margin-left: 15px;

            h3 {
                font-size: 18px;
                margin-bottom: 3px;
            }
            span {
                color: var(--optionalColor);
                font: {
                    size: 15px;
                    weight: 600;
                };
            }
        }
    }
}
.single-testimonials-box {
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    padding: 70px 50px 40px;
    text-align: center;
    margin-top: 40px;

    &.bg-fafafb {
        background-color: #fafafb;
    }
    img {
        width: 80px !important;
        height: 80px;
        display: inline-block !important;
        border-radius: 50%;
        border: 5px solid #e3fbff;
        position: absolute;
        left: 0;
        right: 0;
        top: -40px;
        margin: auto;
    }
    p {
        margin-bottom: 0;
        font-size: 18px;
    }
    &::after {
        content: "\f106";
        position: absolute;
        bottom: 0;
        color: var(--blackColor);
        line-height: 1;
        z-index: -1;
        right: 20px;
        opacity: .05;
        font: {
            family: Flaticon;
            size: 140px;
        };
    }
    .client-info {
        margin-top: 25px;

        h3 {
            font-size: 20px;
            margin-bottom: 5px;
        }
        span {
            color: var(--optionalColor);
            font: {
                size: 15px;
                weight: 600;
            };
        }
    }
}
.testimonials-view-btn {
    margin-top: 25px;

    .default-btn {
        background-color: transparent;
        color: var(--mainColor);
        border: 1px solid #eae1d6;
        margin-bottom: -7px;

        span {
            background-color: var(--mainColor);
        }
        &:hover {
            color: var(--whiteColor);
            border-color: var(--mainColor);
        }
    }
}

@media only screen and (max-width: 767px) {

    .testimonials-area {
        &.bg-f1f8fb {
            padding-top: 60px;
        }
    }
    .single-testimonials-item {
        padding: 70px 20px 25px;

        &::after {
            top: -10px;
            font-size: 70px;
        }
        &::before {
            height: 95%;
        }
        p {
            font-size: 15.5px;
        }
        .client-info {
            margin-top: 20px;

            .title {
                h3 {
                    font-size: 16px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }
    .testimonials-view-btn {
        margin-top: 15px;

        .default-btn {
            margin-bottom: -5px;
        }
    }
    .single-testimonials-box {
        padding: 65px 20px 30px;
        margin-top: 30px;

        img {
            border-width: 3px;
            top: -30px;
        }
        p {
            font-size: 15.5px;
        }
        .client-info {
            margin-top: 20px;

            h3 {
                font-size: 17px;
            }
            span {
                font-size: 14px;
            }
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .testimonials-area {
        &.bg-f1f8fb {
            padding-top: 80px;
        }
    }
    .single-testimonials-item {
        padding: 110px 25px 35px;

        &::before {
            height: 92%;
        }
        p {
            font-size: 16px;
        }
        &::after {
            top: -15px;
            font-size: 110px;
        }
        .client-info {
            .title {
                h3 {
                    font-size: 17px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }
    .testimonials-view-btn {
        margin-top: 15px;

        .default-btn {
            margin-bottom: -5px;
        }
    }
    .single-testimonials-box {
        padding: 65px 25px 30px;

        p {
            font-size: 16px;
        }
        .client-info {
            h3 {
                font-size: 18px;
            }
            span {
                font-size: 14px;
            }
        }
        &::after {
            font-size: 75px;
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}


.left-col{
    max-width: 15%;
}
.right-col{
    max-width: 80%;
}
section.section-padd {
    padding-top: 70px;
    padding-bottom: 80px;
}
.counter h2 {
    font-size: 65px;
    font-weight: 800;
    color: #000;
    font-family: sans-serif;
}
.counter p {
    font-size: 18px;
    font-weight: 700;
}

.counter span {
    font-size: 42px;
    color: #ff5d22;
}
.choose-us h2 {
    font-size: 45px;
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.choose-us p {
    font-size: 19px;
    font-weight: 400;
    color: #000;
}
.choose-section{
    background-image: url(../../../assets/img/dubai-cta-bg_11-1.png);
    background-position: center;
    padding: 75px 30px;
    gap: 15px !important;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
}
.choose-section h2 {
    color: #fff;
    padding-bottom: 20px !important;
}
.choose-section p {
    color: #fff !important;
}
.choose-inner{
    padding-left: 10px;
    padding-right: 10px;
}
.dubai-img {
    overflow: hidden;
    border-radius: 10px;
}
.show h2 {
    font-size: 2.8rem;
}
.feature ul {
    padding: 0;
}
.feature li {
    list-style-type: none;
}
.meet-sec img {
    border-radius: 10px;
    object-fit: cover;
}
.meet-sec{
    position: relative;
    height: 750px;
    border-radius: 10px;
    overflow: hidden;
}
.looking_content {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 95%;
    padding: 65px 65px 0;
    max-width: 100%;
    left: 0px;
    padding-bottom: 15px;
    border-top-right-radius: 10px;
}
.looking_content p {
    margin: 0;
}
.looking_content h2 {
    font-size: 40px;
    font-weight: 600;
}

.card.card--industries {
    border: none;
    transition: .3s;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}
.card-body{
    padding: 0;
}
.industries_image{
    border-radius: 20px;
}
.card.card--industries .card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 13px;
    margin-top: 10px;
    border: 1px solid #ececec;
    transition: .3s;
    flex: 1;
}


.card.card--industries:hover .card-head{
    background: #FFFBF6;
}
.card.card--industries .card-head h3 {
    font-size: 19px;
    line-height: 26px;
}
.card.card--industries .card-head .icn .common-animate-arrow {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: rgb(255 93 34 / 74%) solid 4px;
    border-radius: 50%;
    outline-offset: -2px;
    animation: blink 1.5s infinite ease-in-out; 
}

@keyframes blink {
    0% {
        outline: rgb(255 93 34 / 74%) solid 4px;
    }
    25% {
        outline: rgb(255, 93, 34) solid 4px;
    }
    50% {
        outline: rgb(255 93 34 / 74%) solid 4px;
    }
    75% {
        outline: rgb(255, 93, 34) solid 4px;
    }
    100% {
        outline: rgb(255 93 34 / 74%) solid 4px;
    }
}


.clickcustomform path {
    fill: #ff5d22;
}

.card-body img{
    border-radius: 20px;
    object-fit:cover;
    height: 300px;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 200px;
  }
  .menu-item {
    padding: 15px;
    font-size: 19px;
    margin: 10px 0;
    background: #fff;
    cursor: pointer;
    border-radius: 10px;
    text-align: left;
    border: 1px solid #ddd;
    transition: background 0.3s ease;
  }
  .menu-item:hover,
  .menu-item.active {
    background: rgba(255, 93, 34, 0.74);
    color: #fff !important;
  }
  .content {
    flex: 1;
    padding: 50px;
    border-radius: 10px;
    background: #FFFBF6;
  }
  .content-section {
    display: none;
  }
  .content-section.active {
    display: block;
  }
  .content-section p {
    padding-top: 10px;
    padding-bottom: 10px;
}
.content-section h2 {
    font-size: 55px !important;
    color: #ff5d22;
}
.choose-head p {
    padding-top: 15px;
    padding-left: 150px;
    padding-right: 150px;
}
.comp-icons div img{
    transition: 0.5s ease-in-out;
}
.comp-icons div img:hover{
    transform: translateY(-10px);
}

@media(max-width:1400px){
    .main-banner-content h1{
        font-size: 40px;
    }
    .main-banner-content p{
        font-size: 14px;
    }
}
@media(max-width:1000px){
    .inner-banner-d{
        flex-direction: column;
    }
    .main-banner-content{
        width: 100% !important;
    }
    .banner-form{
        width: 100% !important;
    }
    .show h2{
        font-size: 30px;
    }
    .choose-inner{
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
    }
    .choose-inner .col-lg-6 {
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
    }
    .choose-us h2{
        font-size: 35px;
    }
    .choose-us p{
        font-size: 16px;
    }
    .looking_content h2{
        font-size: 30px;
    }
    .feature-row {
        flex-direction: column;
    }
}

@media(max-width:768px){
    .short-feature{
        flex-direction: column;
    }
    .feature-row {
        flex-direction: column;
    }
    .looking_content{
        position: static;
        width: 100%;
        padding: 30px 20px 0;
        max-width: 100%;
    }
    .choose-head p{
        padding-top: 15px;
        padding-left: 0;
        padding-right: 0;
    }
    section.section-padd{
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .content{
        padding: 15px;
    }
    .choose-us p{
        font-size: 13px;
    }
    .choose-section{
        background-position: right;
        flex-direction: column;
    }
    .tabs-div {
        flex-direction: column;
        padding-bottom: 50px;
    }
    .menu{
        display: flex !important;
        flex-direction: column;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }
    .container--narrow{
        width: 90%;
        margin: auto;
    }
    .contact-form{
        width: 100%;
    }
    .inner-banner-d{
        padding: 20px;
    }
    .banner-d-page{
        padding-top: 115px;
        padding-bottom: 55px;
    }
}
@media(max-width:620px){
    .meet-sec{
        height: auto;
    }
    .choose-us h2{
        font-size: 22px;
        margin-top: 15px;
    }
    .choose-head p{
        padding:0 !important;
    }
    .ai-content p{
        padding: 0 !important;
        font-size: 12px;
        line-height: 25px !important;
    }
    .ai-content h2{
        font-size: 22px !important;
    }
    .main-banner-content h1{
        font-size: 20px;
        font-weight: 600;
    }
    .main-banner-content p{
        font-size: 12px;
    }
    .content-section h2{
        font-size: 30px !important;
    }
    .choose-us p{
        font-size: 11px !important;
    }
    .menu-item{
        padding: 7px;
        font-size: 17px;
    }
    
    .testimonials-area{
        padding-top: 60px;
        margin-bottom: 50px;
    }
    .choose-us h2{
        font-size: 19px !important;
    }
    .choose-section{
        background-position: center;
        margin-top: 0px !important;
        padding: 30px !important;
    }
   
    .looking_content  h2{
        font-size: 18px;
    }
    .looking_content button {
        margin-top: 10px;
    }
}
@media(max-width:1280px){
    .contact-form{
        width: 100%;
    }
}
@media(max-width:1000px){
    .short-feature {
        flex-direction: column;
    }
    .short-feature .col-lg-6 {
        width: 100%;
    }
    .feature-row .col-lg-3 {
        width: 100% !important;
    }
    .choose-head p{
        padding-left: 50px;
        padding-right: 50px;
    }
    .choose-section {
        flex-direction: column;
    }
}

@media(max-width:1440px){
    .image-ai{
        height: max-content;
    }
    .show h2 {
        padding-left: 35px;
        padding-right: 35px;
    }
    .choose-us h2{
        font-size: 35px;
    }
    .choose-us  p{
        font-size: 16px;
        margin-left: 15px;
    }
    .card-head a {
        font-size: 15px;
    }
}
@media(max-width:1150px){
    .feature-row {
        flex-direction: column;
    }
    .feature-row .col-lg-3 {
        width: 100%;
    }
}

.ai-content p {
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 34px;
}
.ai-content h2 {
    font-size: 40px;
    font-weight: 600;
}
.image-ai {
    height: 480px;
    overflow: hidden;
    border-radius: 10px;
}
.image-ai img{
    object-fit:cover;
    height: 100%;
    width:100%;
}
@media(max-width:1300px){
    .ai-service{
        flex-direction: column-reverse;
    }
    .ai-service .col-lg-6{
        width: 100%;
    }
    .ai-content{
        margin-top: 20px;
    }
    
}
.number-sec {
    padding-top: 0 !important;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
}