<section class="blog-area pt-70 pb-70 bg-fffbf5 my-blog">
    <!-- <div class="container">
        <div class="section-title" *ngFor="let sectionTitleContent of sectionTitle;">
            <span class="sub-title"><img src="assets/img/star-icon.png" alt="Our Blog"> {{sectionTitleContent.subTitle}}</span>
            <h2>{{sectionTitleContent.title}}</h2>
            <p>{{sectionTitleContent.paragraphText}}</p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6" *ngFor="let blogPostContent of blogData;">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/{{blogPostContent.path}}">
                            <img [src]="blogPostContent.postImg" alt={{blogPostContent.alt}}>
                        </a>
                    </div>

                    <div class="post-content">
                        <ul class="post-meta d-flex justify-content-between align-items-center">
                            <li>
                                <div class="post-author d-flex align-items-center">
                                    <img [src]="blogPostContent.postAuthorImage" class="rounded-circle" alt= {{blogPostContent.authorAlt}}>
                                    <span>{{blogPostContent.postAuthorName}}</span>
                                </div>
                            </li>
                            <li>
                                <i class='flaticon-calendar'></i> {{blogPostContent.postDate}}
                            </li>
                        </ul>
                        <h3><a routerLink="/{{blogPostContent.path}}">{{blogPostContent.postTitle}}</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vector-shape1" data-speed="0.06" data-revert="true"><img src="assets/img/shape/vector-shape1.png" alt="AI Blogs"></div>
    <div class="vector-shape2" data-speed="0.06" data-revert="true"><img src="assets/img/shape/vector-shape2.png" alt="AI Blogs"></div> -->


<div class="set-section container">
    <h2>Cloud news and Perspective</h2>
    <div class="main-section">
        <div class="col-lg-4">
            <img src="../../../../../assets/img/office-1.png" alt="">
        </div>
        <div class="col-lg-4 p-4  bord-left">
            <h3>
                5 best practices for implementing Copilot for Microsoft 365 at scale
            </h3>
        </div>
        <div class="col-lg-4 p-4">
            <p>Unlock the full potential of Copilot for Microsoft 365 by preparing data, strategizing, collaborating with Microsoft, adopting responsible AI, and refining continuously.
            </p>
            <a href="#">Read More  <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 18L15 12L9 6" stroke="#FF5E24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg></a>
        </div>
    </div>
    
    <div class="main-section mt-5">
        <div class="col-lg-4">
            <img src="../../../../../assets/img/office-3.png" alt="">
        </div>
        <div class="col-lg-4 p-4 bord-left">
            <h3>
                How to bridge gaps between generative AI ambitions and readiness
            </h3>
        </div>
        <div class="col-lg-4 p-4">
            <p>Explore the importance of a strong data strategy and careful planning to successfully implement generative AI.
            </p>
            <a href="#">Read More  <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 18L15 12L9 6" stroke="#FF5E24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg></a>
        </div>
    </div>
</div>
    
</section>