<section class="banner">
    <div class="container-main">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center flex-column align-items-start">
                <h1>WHAT IS AN EYECARE CHATBOT?</h1>
                <p>The GenAI Powered eye care chatbot is designed to facilitate users in scheduling appointments by guiding them through a series of structured steps while addressing any related inquiries effectively</p>
                <button class="case-button">Get Started</button>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</section>

<!-- 
<section>
    <div class="container-main">
        <div class="col-lg-12 d-flex justify-content-center ">
           <div class="col-lg-8 text-center mx-auto head-content">   
            <h2>Personal Product pages</h2>
            <p class="pt-3">
                Our goal for this project was to create a powerful corporate website that can fit the needs of a rapidly developing team. The design of the website was intentionally developed in the enterprise business style with a coherent structure, easy navigation, and apprehensibility in the description of each product.
            </p>
           </div>
        </div>
        <div class="col-lg-12 mt-5">
            <div class="row">
                <div class="col-lg-4 image-card">
                    <img src="../../assets/img/ss-1.png">
                </div>
                <div class="col-lg-4 image-card">
                    <img src="../../assets/img/ss-2.png">
                </div>
                <div class="col-lg-4 image-card">
                    <img src="../../assets/img/ss-3.png">
                </div>
            </div>
        </div>
        
    </div>
</section> -->

<section class="business-section">
    <div class="container-main">
        <div class="col-lg-12 d-flex justify-content-center ">
            <div class="col-lg-8 text-center mx-auto head-content">   
             <h2> <img src="assets/img/star-icon.png" alt="About Our Company"> Business Impacts</h2>
             <p class="pt-3">
                This section outlines the key improvements and positive outcomes the solution brought to the business, including increased efficiency, reduced costs, and enhanced overall performance.
             </p>
            </div>
         </div>
       <div class="container-card">
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-1.png"></div>
            <div class="heading">Increased Efficiency</div>
            <div class="description">Streamlines appointment scheduling, reducing administrative workload.</div>
        </div>
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-2.png"></div>
            <div class="heading">Cost Saving</div>
            <div class="description">Lowers staffing needs through automation, leading to reduced operational costs.</div>
        </div>
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-3.png"></div>
            <div class="heading">Enhanced Customer Experience</div>
            <div class="description">Offers a user-friendly interface for booking, boosting patient satisfaction.</div>
        </div>
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-4.png"></div>
            <div class="heading">Data-Driven Insight</div>
            <div class="description">Collects valuable patient interaction data for informed decision-making.</div>
        </div>
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-5.png"></div>
            <div class="heading">Scalability</div>
            <div class="description">Adapts to growing appointment volumes without requiring significant resources.</div>
        </div>
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-6.png"></div>
            <div class="heading">Competitive Advantage</div>
            <div class="description">Differentiates clinics through advanced technology, attracting modern patients.</div>
        </div>
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-7.png"></div>
            <div class="heading"> Optimize Resource Allocation</div>
            <div class="description">Ensures effective use of appointment slots and provider availability.

            </div>
        </div>
       </div>
    </div>
</section>


<section>
    <div class="container-main problem">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="mb-2"> <img src="assets/img/star-icon.png" alt="About Our Company"> Problem Context</h2>
                <h4 class="mb-2">
                    Managing appointment bookings in the eye care sector can be a complex task, often hindered by manual processes and outdated systems.
                </h4>
                <P>Traditional methods can lead to long wait times, scheduling conflicts, and inefficiencies in managing patient inquiries. Patients often struggle to get timely information about appointment availability, resulting in frustration and reduced satisfaction.</P>
                <p>The need for an efficient, user-friendly solution is critical to enhance the patient experience and streamline clinic operations.</p>
                <p>The eye care chatbot addresses these challenges by automating appointment bookings, ensuring quick and accurate responses, and optimizing clinic schedules.</p>
            </div>
            <div class="col-lg-6">
                <img src="../../assets/img/problem.png">
            </div>
        </div>
    </div>
</section>


<section class="business-section">
    <div class="container-main">
        <div class="col-lg-12 d-flex justify-content-center ">
            <div class="mx-auto head-content">   
             <h2> <img src="assets/img/star-icon.png" alt="About Our Company"> Challenges</h2>
             <p class="pt-3">
                As a matter of fact, the diversification of operational bottlenecks and fragmented workflows posed a critical hindrance to the seamless execution of the solution, thereby necessitating a strategic alignment to overcome functional discrepancies and deliver optimal performance.
             </p>
            </div>
         </div>
         <div class="challenge-cards">
            <div class="challenge-card">
                <div class="challenge-number"><img src="../../assets/img/icon-c-1.png"></div>
                <div class="challenge-title">Inefficient Scheduling</div>
                <div class="challenge-description">Manual processes are slow and prone to errors.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number"><img src="../../assets/img/icon-c-2.png"></div>
                <div class="challenge-title">User Engagement</div>
                <div class="challenge-description">Ensuring relevant user questions is a challenge.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number"><img src="../../assets/img/icon-c-3.png"></div>
                <div class="challenge-title">Data Accuracy</div>
                <div class="challenge-description">Verifying user information is crucial.</div>
            </div>
    </div>
    </div>
</section>


<section>
    <div class="container-main problem">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <h2 class="mb-2">Cutting-Edge Technologies Powering Innovation</h2>
                <P>We leverage modern technologies like HTML, Django, LangGraph, LangChain, and GenAI to build intelligent, scalable, and efficient solutions. These technologies empower seamless integrations, dynamic workflows, and AI-driven automation to enhance user experience and streamline operations.</P>
                <div class="tech-badge">django</div>
                <div class="tech-badge">HTML</div>
                <div class="tech-badge">LangChain</div>
                <div class="tech-badge">LangGraph</div>
                <div class="tech-badge">GENAI</div>
            </div>
            <div class="col-lg-6">
                <img src="../../assets/img/tech-12.png">
            </div>
        </div>
    </div>
</section>



<section class="business-section">
    <div class="container-main problem">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="mb-2"> <img src="assets/img/star-icon.png" alt="About Our Company">Solution</h2>
                <h4>The eye care chatbot enhances the appointment booking process by efficiently collecting user information, including first and last names, date of birth, and phone numbers.</h4>
                <P>After gathering this basic data, it verifies the user's identity through a confirmation step and OTP (One-Time Password) verification, ensuring added security. The chatbot then assesses provider availability based on the user’s location, allowing users to easily find a suitable provider.</P>
                <p>Once a provider is identified, users can select from available time slots for their appointments. Additionally, the chatbot is equipped to handle static queries, such as providing the current time, utilizing Chroma DB and vector databases for accurate responses.</p>
                
            </div>
            <div class="col-lg-6">
                <img src="../../assets/img/solution.png">
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container-main">
        <div class="col-lg-12 d-flex justify-content-center ">
            <div class="mx-auto head-content">   
             <h2> <img src="assets/img/star-icon.png" alt="About Our Company"> Result</h2>
             <p class="pt-3 pb-3">
                The AI-powered chatbot has streamlined appointment scheduling, reducing wait times and administrative workload. With secure verification and intelligent provider matching, patient satisfaction has increased, making the booking process faster and more efficient
             </p>
            </div>
         </div>
         <div class="challenge-cards main-challenge">
            <div class="challenge-card">
                <div class="challenge-number">1</div>
                <div class="challenge-title">Increased Appointment Efficiency</div>
                <div class="challenge-description">Reduces the time taken to book appointments.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number">2</div>
                <div class="challenge-title">Enhanced User Experience</div>
                <div class="challenge-description">Provides quick responses and a user-friendly interface.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number">3</div>
                <div class="challenge-title"> Real-Time Provider Availability</div>
                <div class="challenge-description">Enables clients to view available slots instantly.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number">4</div>
                <div class="challenge-title">  Improved Accessibility</div>
                <div class="challenge-description">Allows easy booking from anywhere, enhancing clinic accessibility.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number">5</div>
                <div class="challenge-title">Data Accuracy</div>
                <div class="challenge-description">Minimizes errors in appointment scheduling through accurate user information collection.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number">6</div>
                <div class="challenge-title"> Reduction in No-Show</div>
                <div class="challenge-description">Lowers no-show rates through confirmation and OTP reminders. </div>
            </div>
    </div>
    </div>
</section>






<section class="business-section">
    <div class="container-main">

        <div class="head flow d-flex justify-content-center pb-4">
            <h2>Workflow of the Eye Care Chatbot Project</h2>
        </div>
        <div class="workflow-container">
            <div class="workflow-header">
              <h2>User Interaction</h2>
              <p>Users initiate the appointment booking process through the chatbot.</p>
            </div>
        
            <div class="workflow-grid">
              <div class="workflow-card">
                <h3>Information Collection</h3>
                <p>The chatbot prompts users to provide essential details, including: <br>
                <strong>First name | Last name | Date of birth | Phone number</strong></p>
              </div>
        
              <div class="workflow-card">
                <h3>Confirmation & OTP Verification</h3>
                <p>Users confirm the entered details. An OTP (One-Time Password) is sent to the provided phone number for verification.</p>
              </div>
        
              <div class="workflow-card">
                <h3>Location Input</h3>
                <p>Users enter their location to identify available healthcare providers.</p>
              </div>
        
              <div class="workflow-card">
                <h3>Provider Availability</h3>
                <p>The chatbot retrieves and displays available providers based on the user’s location.</p>
              </div>
        
              <div class="workflow-card">
                <h3>Appointment Slot Selection</h3>
                <p>Users select their preferred time slot from the available options.</p>
              </div>
        
              <div class="workflow-card">
                <h3>Static Query Handling</h3>
                <p>The chatbot responds to static questions, such as the current time, using Chroma DB and vector databases.</p>
              </div>
        
              <div class="workflow-card">
                <h3>Confirmation of Booking</h3>
                <p>The chatbot confirms the appointment and provides details for the user.</p>
              </div>
        
              <div class="workflow-card">
                <h3>Follow-Up Support</h3>
                <p>Users receive reminders and follow-up information regarding their appointments.</p>
              </div>
            </div>
          </div>
    </div>
</section>
<!-- 
<section>
    <div class="container-main">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center flex-column align-items-start">
                <h2>Effortless Transactions, Maximum Security</h2>
                <p>At Fashion with Trends, we have integrated a secure and efficient payment plugin within our Laravel backend, ensuring smooth and reliable transactions. With multiple payment options, customers can shop with confidence and complete their purchases in just a few clicks.</p>
                <button class="case-button">Start Demo</button>
            </div>
            <div class="col-lg-6">
                <img src="../../assets/img/payment.png">
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container-main">
        <div class="col-lg-12 d-flex justify-content-center ">
            <div class="col-lg-8 text-center mx-auto head-content">   
             <h2>Crafting a Seamless Shopping Experience</h2>
             <p class="pt-3">
                By delivering the latest trends at affordable prices, we changed how customers discover, shop, and express their personal style online.
             </p>
            </div>
         </div>
         <div class="col-lg-12 mt-5">
            <div class="video-col">
               <a href=""> <img src="../../assets/img/video-case.png" alt=""></a>
            </div>
         </div>
    </div>
</section>

<section class="section-small">
    <div class="container-main">
        <div class="col-lg-12 text-center">
            <h2>Technologies used</h2>

            <div class="row d-flex justify-content-center mt-4 gap-3">
                <div class="col-lg-2 icon-home">
                    <img src="../../assets/img/angular-icon-home.png" alt="">
                </div>
                <div class="col-lg-2 icon-home">
                    <img src="../../assets/img/laravel-icon.png" alt="">
                </div>
                <div class="col-lg-2 icon-home">
                    <img src="../../assets/img/my-sql.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section> -->