<footer class="{{footerClass}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a href="javascript:void(0)" class="logo"><img src="assets/img/logo.png" alt="logo"></a>
                    <p>AiInfox is a dedicated team of AI coders, designers, digital marketers and AI developers in Mohali, who are rigorously working to leave a mark in the field of Artificial Intelligence.</p>
                    <ul class="social-link footer-social-links">
                        <li><a href="https://www.facebook.com/aiinfox" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <!-- <li><a href="https://twitter.com/aiinfox" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li> -->
                        <li><a href="https://twitter.com/aiinfox" class="d-block twitt" target="_blank"><img src="assets/img/twitter-icon.png" alt="twitter"></a></li>
                        <li><a href="https://www.instagram.com/aiinfox/" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://in.linkedin.com/company/ai-infox" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Explore</h3>
                    <ul class="footer-links-list">
                        <li><a href="javascript:void(0)" (click)="menuClicked('services')">Our Services</a></li>
                        <li><a href="javascript:void(0)"  (click)="menuClicked('Engagement')">Engagement Models</a></li>
                        <li><a href="javascript:void(0)"  (click)="menuClicked('Why')">Why Choose Us</a></li>
                        <li><a href="javascript:void(0)"  (click)="menuClicked('Free')">Free Trial</a></li>
                    </ul>
                </div>
            </div>

         

            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>
                    <ul class="footer-contact-info">
                        <li><i class='bx bx-map'></i>US- 5206, Craftsman ST, Johns Creek Georgia, 30097</li>
                        <li><i class='bx bx-map'></i>India - D-234 , Phase 8B, Industrial Area, Sector 74, SAS Nagar, Punjab 160055</li>
                        <li><i class='bx bx-map'></i>Canada- 85, Nortonville drive, Scarborough, Ontario M1T 2G9</li>
                        <li><i class='bx bx-phone-call'></i><a href="tel:+919988339877">+91-9988339877</a></li>
                        <li><i class='bx bx-envelope'></i><a href="mailto:info&#64;aiinfox.com">info&#64;aiinfox.com</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>© 2025 AiInFox All rights reserved</p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a href="javascript:void(0)">Privacy Policy</a></li>
                        <li><a href="javascript:void(0)">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-map"><img src="assets/img/footer-map.png" alt="image"></div>
</footer>

<div class="go-top"><i class="flaticon-up"></i></div>