<section class="banner">
    <div class="overlay"></div>
    <div class="container-main">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center flex-column align-items-start">
                <h1 class="overlay-text">WHAT IS A CLASSROOM CHATBOT?</h1>
                <p>The Classroom Chatbot Project is a revolutionary shift in education, offering the right kind of interactive AI assistant built specifically for classroom use. Large language models (LLMs) can be integrated with a variety of digital formats or used as applications in improving student engagement and ensuring smoother project management. These AI-driven tools interact with students using natural language processes (NLP), which include answering questions, distributing resources, and helping manage projects timely while creating a collaborative classroom learning environment.</p>
                <button class="case-button">Get Started</button>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container-main problem">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="mb-2"> <img src="assets/img/star-icon.png" alt="About Our Company"> Problem Context</h2>
                <P>The U.S. Education Technology landscape is highly competitive day by day. The management of classroom projects includes multiple tasks, includes handling questions and answers and managing user access.</P>
                <p>This process is often inefficient and creates delays, making it difficult for educators to respond promptly to the queries of students.</p>
                <p>The Classroom Chatbot project addresses these challenges by automating and simplifying project management, hence guaranteeing accurate and timely support for the students. In this case, a large language model (LLM) can be integrated into user access management and helps in enhancement of the chatbot’s responsiveness to create a more engaging and effective learning environment.</p>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <img src="../../assets/img/problem.png">
            </div>
        </div>
    </div>
</section>


<section class="business-section">
    <div class="container-main">
        <div class="col-lg-12 d-flex justify-content-center ">
            <div class="col-lg-8 text-center mx-auto head-content">   
             <h2> <img src="assets/img/star-icon.png" alt="About Our Company"> Business Impacts</h2>
             <p class="pt-3">
                Implementing a Classroom Chatbot brings multiple benefits to educational institutions
             </p>
            </div>
         </div>
       <div class="container-card">
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-1.png"></div>
            <div class="heading">Better Engagement</div>
            <div class="description">Real-time, personalized support enhances student satisfaction.</div>
        </div>
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-2.png"></div>
            <div class="heading">Efficiency</div>
            <div class="description">Implementing a Classroom Chatbot brings multiple benefits to educational institutions.</div>
        </div>
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-3.png"></div>
            <div class="heading">Scalability</div>
            <div class="description">Manages large student numbers without extra labor costs.</div>
        </div>
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-4.png"></div>
            <div class="heading">Operational Cost Savings</div>
            <div class="description">Reduces expenses through streamlined processes.</div>
        </div>
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-5.png"></div>
            <div class="heading">Better Data Management</div>
            <div class="description">Enables tracking and validation of project content.</div>
        </div>
        <div class="card">
            <div class="icon"><img src="../../assets/img/icon-main-6.png"></div>
            <div class="heading">Competitive Advantage</div>
            <div class="description">Enhances innovation, attracting more students.</div>
        </div>
       </div>
    </div>
</section>

<section>
    <div class="container-main">
        <div class="col-lg-8 text-center mx-auto head-content">
            <h2> <img src="assets/img/star-icon.png" alt="About Our Company"> Technologies Used</h2>
            <p class="pt-3">
                This system leverages cutting-edge technologies, frameworks, and tools to ensure seamless functionality,
                high performance, and scalability. It integrates AI-powered models, backend frameworks, and
                communication APIs to provide an efficient and intelligent solution.
            </p>
        </div>


        <div class="my-tech mx-auto mt-4">
            <div class="tech-box"><img src="../../assets/img/django.png"></div>
            <div class="tech-box">
                <img src="../../assets/img/llm-icon.png" alt="NLP">
            </div>
            <div class="tech-box">
                <img src="../../assets/img/angular-black.png" alt="nextjs">
            </div>
           
        </div>
    </div>
</section>

<section class="business-section">
    <div class="container-main">
        <div class="col-lg-12 d-flex justify-content-center ">
            <div class="mx-auto head-content">   
             <h2> <img src="assets/img/star-icon.png" alt="About Our Company"> Challenges</h2>
             <p class="pt-3">
                As a matter of fact, the diversification of operational bottlenecks and fragmented workflows posed a critical hindrance to the seamless execution of the solution, thereby necessitating a strategic alignment to overcome functional discrepancies and deliver optimal performance.
             </p>
            </div>
         </div>
         <div class="challenge-cards">
            <div class="challenge-card">
                <div class="challenge-number"><img src="../../assets/img/icon-c-1.png"></div>
                <div class="challenge-title"> Manual processes</div>
                <div class="challenge-description">In managing QA, time-consuming and error-prone.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number"><img src="../../assets/img/icon-c-2.png"></div>
                <div class="challenge-title">User access</div>
                <div class="challenge-description">Inconsistent and insecure login and access management.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number"><img src="../../assets/img/icon-c-3.png"></div>
                <div class="challenge-title">Response Delay</div>
                <div class="challenge-description">Poor engagement due to slow response to student queries.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number"><img src="../../assets/img/scale-1.png"></div>
                <div class="challenge-title">Scalability</div>
                <div class="challenge-description">Handling multiple projects and large student interactions.</div>
            </div>
    </div>
    </div>
</section>





<section>
    <div class="container-main problem">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="mb-2"> <img src="assets/img/star-icon.png" alt="About Our Company"> Solution</h2>
                <P>The Classroom Chatbot provides a complete solution to the management of classroom projects and enhances user interaction in educational settings.</P>
                <p>It easily enables users to create projects by uploading relevant files and facilitates efficient management of project questions and answers, including the automatic retrieval of unavailable responses from ChatGPT for validation.</p>
                <p>This user management feature creates secure login links and manages access by students, thus providing a trustworthy environment. It also incorporates a chatbot, offers interaction with the help of audio or text. It responds immediately based on the main data.</p>
                <p>This solution streamlines project management, improves control over user access, enhances responsiveness, helps in data validation, which also optimizes the user experience in general for an educational environment.</p>
                
            </div>
            <div class="col-lg-6">
                <img src="../../assets/img/solution.png">
            </div>
        </div>
    </div>
</section>




<section class="business-section">
    <div class="container-main">

        <div class="head flow d-flex flex-column justify-content-center align-items-center pb-5">
            <h2> <img src="assets/img/star-icon.png" alt="About Our Company"> Workflow of the Eye Care Chatbot Project</h2>
            <p>Automates patient interactions, schedules appointments, and provides quick eye care guidance for efficient management.</p>
        </div>
        <div class="row">
            <div class="col-lg-5 d-flex justify-content-center align-items-center curve">
                <img src="../../assets/img/workflow-classroom.png">
            </div>
            <div class="col-lg-7 d-flex justify-content-center flex-column align-items-start">
                <h2 class="mb-3">Student Chatbot Interaction Workflow</h2>
                <p>This structured workflow illustrates the end-to-end process of how instructors/admins and students engage within the chatbot-based project platform. Starting from subject creation and student registration to login, bot interaction, and answer validation, this system ensures a smooth and efficient communication flow. The chatbot enhances learning engagement by allowing students to ask questions, receive automated responses, and enables instructors to validate those responses post-session — ultimately ensuring an interactive and controlled educational environment.</p>
            </div>
        </div>
    </div>
</section>





<section  >
    <div class="container-main">
        <div class="col-lg-12 d-flex justify-content-center ">
            <div class="mx-auto head-content">   
             <h2> <img src="assets/img/star-icon.png" alt="About Our Company"> Result</h2>
             <p class="pt-3 pb-3">
                The AI-powered chatbot has streamlined appointment scheduling, reducing wait times and administrative workload. With secure verification and intelligent provider matching, patient satisfaction has increased, making the booking process faster and more efficient
             </p>
            </div>
         </div>
         <div class="challenge-cards main-challenge">
            <div class="challenge-card">
                <div class="challenge-number">1</div>
                <div class="challenge-title">More Efficiency</div>
                <div class="challenge-description">Time will be saved from the management of a project and answering queries.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number">2</div>
                <div class="challenge-title">Improved Engagement</div>
                <div class="challenge-description">The response of the chatbot is quite instant; hence, students’ interaction increases.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number">3</div>
                <div class="challenge-title"> Streamlining Processes</div>
                <div class="challenge-description">It automatically controls questions and answers. Hence, more time will be saved from manual errors.</div>
            </div>
            <div class="challenge-card">
                <div class="challenge-number">4</div>
                <div class="challenge-title"> User Access Security</div>
                <div class="challenge-description">Ensured robust user management in order to ensure access control to a project.</div>
            </div>
    </div>
    </div>
</section>





