.service-content h3
{
    margin: 25px 0px 12px 0px;
}
.ptb-40 {
    padding: 40px 0px 0px;
}
.single-process-box
{
    margin-bottom: 30px;
  background-color: var(--whiteColor);
  transition: var(--transition);
  border: 1px solid #f5f3f2;
  border-radius: 5px;
  padding: 0px 0px;
  text-align: center;
  position: relative;
  z-index: 1;
  }
  .single-process-box img
  {
    border-radius: 5px 5px 0px 0px;
  }
  .single-process-box h3
  {
    padding: 20px 20px 0px;
  }
  .single-process-box p
  {
    padding: 0px 20px 20px;
  }
.single-process-box:hover
{
    border-color: var(--mainColor);

}
.fact-sec {
	background: #f8f0e4;
    padding: 50px 0px;
}
.fact-sec img
{
    width: 90%;
}
h2.briefmi
{
font-weight: 700;
        padding: 20px 0px;
        font-size: 38px;
}
.col-lg-4
{
    display: flex;
    flex-wrap: wrap;
}


.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab__content {
  max-height: 0rem;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 11rem;
}
.tab input:checked ~ .tab__label {
    background: #ff5d22;
    color:#fff;
    
  }
/* Visual styles */
.accordion {
  color: #fff;
  border: 0px solid;
  border-radius: 0rem;
  overflow: hidden;
  border-left:1px solid #000;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
}


.tab__label,
.tab__close {
    display: flex;
    color: #020202;
    background: #fff;
    cursor: pointer;
    border-top: 1px solid #000;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
  background: #fff;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}
