<section class="page-title-area">
    <div class="container">
        <div class="page-title-content" *ngFor="let pageTitle of pageTitleArea;">
            <h2>{{pageTitle.title}}</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>{{pageTitle.title}}</li>
            </ul>
        </div>
    </div>

    <div class="shape-img1"><img src="assets/img/shape/shape1.svg" alt="image"></div>
    <div class="shape-img2"><img src="assets/img/shape/shape2.png" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
</section>

<section class="faq-area ptb-100">
    <div class="container">
        <h1 class="wow animate__animated animate__fadeInLeft">Welcome to AiInfox! Below are Terms and Conditions that govern your use of our website and services. By accessing or using our site, you agree to comply with these terms. Please carefully read them.</h1>
        <div class="faq-accordion mt-3">
            <ul class="accordion">
                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Services Provided</p>
                    </a>

                    <div class="accordion-content">
                        <!-- <p>
                            Here's the type of information we gather: 
                        </p> -->
                        <ul>
                            <li>AiInfox provides access to AI and innovation-driven services. Services can be consulted on the website. We might change or suspend any service, for any or no reason, with or without notice to you.</li>
                            <!-- <li>Personal Information: Your name, email address, telephone number, and all other data that you provide when you contact us, or use our services</li>
                            <li>Usage Data: Includes information about how you use our website, such as IP addresses, browser type and the pages you visit </li>
                            <li>Cookies: Small files, which help us in knowing your preferences and give an enriching experience on our site. </li> -->
                        </ul>
                    </div>
                </li>
                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Website Use</p>
                    </a>

                    <div class="accordion-content">
                       
                        <ul>
                            <li>Eligibility: To use the Services you must be at least 18 years of age.</li>
                            <li>User Behavior: You must use our website responsibly and not interfere in any way to injure our site or impede other users.</li>
                            <li>Prohibited Activities: Unauthorized access, hacking, or illegal use of our site is not allowed.</li>
                        </ul>
                    </div>
                </li>
                
                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Intellectual Property</p>
                    </a>

                    <div class="accordion-content">
                        <ul>
                            <li>The information on this website, such as text, graphics, logos, and software, is owned or licensed by AiInfox, and is subject to intellectual property laws.
                                You must not copy, distribute, or use any content without our explicit permission.
                            </li>
                            
                        </ul>
                    </div>
                </li>
                
                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Privacy</p>
                    </a>

                    <div class="accordion-content">
                        <ul>
                            <li>
                                Your privacy is important to us. Please review our Privacy Policy for a description on how we collect, use, and protect your personal information.
                            </li>
                            
                        </ul>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>User Accounts</p>
                    </a>

                    <div class="accordion-content">
                       
                        <ul>
                            <li>Account Creation: If you create an account with us, you must provide accurate information and keep your account secure.</li>
                            <li>Account Responsibility: You are solely responsible for all activities under your account and must notify us immediately of any unauthorized use.</li>
                        </ul>
                    </div>
                </li>


                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Payment and Fees</p>
                    </a>

                    <div class="accordion-content">
                       
                        <ul>
                            <li>Payment Terms: All of the fees for our services are on our website or in agreements with you. Payments shall be made as specified.
                               </li>
                            <li>Refunds: Refund policies, if applicable will be provided at the time of purchase of services.</li>
                        
                        </ul>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Limitation of Liability</p>
                    </a>

                    <div class="accordion-content">
                        <ul>
                            <li>Any information provided through this website or our services by AiInfox is without liability for damages of any kind, including indirect, incidental, punitive, or consequential damages arising out of the use of our website or services. These include but are not limited to direct, indirect, incidental, or consequential damages.

                                No representations or warranties in respect of any information provided on our website or services are given, and accordingly, to the extent legally possible, we disclaim all implied warranties of merchantability or fitness for any particular purpose
                            </li>
                            
                        </ul>
                    </div>
                </li>


                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Third-Party Links</p>
                    </a>

                    <div class="accordion-content">
                        <ul>
                            <li>Our website may also contain links to third-party websites. We neither endorse nor assume any liability for any materials, opinions, goods, or services featured on such third-party websites. Access them at your own risk.
                            </li>
                            
                        </ul>
                    </div>
                </li>



                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Termination</p>
                    </a>

                    <div class="accordion-content">
                        <ul>
                            <li>We may, at our sole discretion, without cause, and without notice, terminate your access to our website and services in violation of these terms.
                                Upon termination, your right to use our services will immediately cease.
                            </li>
                            
                        </ul>
                    </div>
                </li>


                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p>Governing Law</p>
                    </a>

                    <div class="accordion-content">
                        <ul>
                            <li>These Terms and Conditions shall be governed by and construed in accordance with the laws. Any disputes arising from these terms shall be resolved within the courts.
                            </li>
                            
                        </ul>
                    </div>
                </li>


                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class='bx bx-chevron-down'></i>
                        <p> Changes to Terms</p>
                    </a>

                    <div class="accordion-content">
                        <ul>
                            <li>We may change these Terms and Conditions at any time. Changes will be indicated by the "effective date" at the beginning of these Terms and Conditions. Continued use of our services means that you have accepted any changed terms.
                            </li>
                            
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>
